* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

#mobileMenuBtn {
    display: none;
}

#nav {
    background-image: linear-gradient(to left, black, rgb(1, 1, 99));
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    width: 100%;
}

#logoImg {
    width: 200px;
    height: auto;
    animation: leftSlide 2s ease 1;
}

#innerNav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rightSlide 2s ease 1;
}

#innerNav ul li {
    margin: 10px;
    padding: 10px;
    list-style-type: none;
}

#innerNav ul li a {
    text-decoration-line: none;
}

#innerNav ul li a:hover {
    color: rgb(61, 161, 255);
}

#innerNav ul li:hover {
    transform: scale(1.2);
}

/* --------------------------Home Section------------------------- */

#home {
    background-image: linear-gradient(to right, black, rgb(1, 1, 99));
    width: 100%;
    height: 100vh;
}

#LHstyleBar {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 150px;
    height: 5px;
    background-color: blue;
    animation: LHMovement 2s ease 0s 1 forwards;
}

@keyframes LHMovement {
    0% {
        width: 0px;
    }

    100% {
        width: 150px;
    }
}

#LVstyleBar {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 5px;
    height: 100px;
    background-color: blue;
    animation: LVMovement 2s ease 0s 1 forwards;
}

@keyframes LVMovement {
    0% {
        height: 0px;
    }

    100% {
        height: 100px;
    }
}

.homeBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10%;
}

#introTxt {
    width: 360px;
}

.larger {
    font-size: 40px;
}

#element {
    font-size: 40px;
    color: rgb(4, 129, 245);
}

.sideImgC img {
    height: 100%;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0));
    background: linear-gradient(to left, rgb(0, 0, 55), rgb(0, 0, 80));
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    form {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

.sideImgC::after, .sideImgC::before {
    content: '';
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--angle), rgb(150, 0, 184), blue, rgb(0, 254, 85), rgb(2, 230, 255), rgb(150, 0, 184));
    position: absolute;
    left: -4px;
    top: -4px;
    padding: 4px;
    z-index: -1;
    animation: 3s spin linear infinite;
}

.sideImgC::before {
    filter: blur(5px);
}

.sideImgC {
    height: 350px;
    position: relative;
    animation: visibility 3s ease 0s 1 forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}

#RHstyleBar {
    position: absolute;
    top: 90%;
    right: 10%;
    width: 150px;
    height: 5px;
    background-color: blue;
    animation: RHMovement 2s ease 0s 1 forwards;
}

@keyframes RHMovement {
    0% {
        width: 0px;
    }

    100% {
        width: 150px;
    }
}

#RVstyleBar {
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 5px;
    height: 100px;
    background-color: blue;
    animation: RVMovement 2s ease 0s 1 forwards;
}

@keyframes RVMovement {
    0% {
        height: 0px;
    }

    100% {
        height: 100px;
    }
}

.iconsC {
    margin-top: 10px;
}

.iconsC a img {
    width: 30px;
    height: auto;
    margin-right: 20px;
}

.iconsC a img:hover {
    transform: scale(1.2);

}

.contactBtn {
    color: black;
    margin: 20px 0px;
    padding: 10px 15px;
    background-color: rgb(124, 194, 255);
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px rgb(124, 194, 255, 0.6);
    font-weight: 600;
    animation: highlighter 2s ease-in-out infinite;
}

.contactBtn:hover {
    background-color: rgb(232, 240, 247);
    transform: scale(1.1);
    cursor: pointer;
}

/* --------------------------Skills Section------------------------- */

#skillsSection {
    height: 100%;
    background-image: linear-gradient(to right, black, rgb(1, 1, 99));
}

#skillsSection h2 {
    text-align: center;
    padding: 20px 0px;
    font-size: 30px;
    color: rgb(124, 194, 255);
}

.skillbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 12%;
}

#skillsC {
    min-width: 280px;
    max-width: 910px;
    padding: 19px 3%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(124, 194, 255);
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px rgb(124, 194, 255, 0.8);

}

.skill {
    width: 110px;
    height: 130px;
    margin: 1% 2%;
    background-color: blue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -5px 5px 7px 1px rgba(6, 6, 6, 0.5);
}

.skill:hover {
    transform: scale(1.1);
    transition: transform 500ms ease;
}

.skill img {
    width: auto;
    height: 70px;
    object-fit: cover;
}

.outerBar {
    width: 82px;
    height: 12px;
    margin-top: 10px;
    background-color: white;
    z-index: 1000;
    display: flex;
    place-items: center;
    border-radius: 7px;
}

.innerBar {
    height: 10px;
    background-color: blue;
    border-radius: 7px;
    position: relative;
    left: 1px;
}

.progressAnimation {
    animation: progressBar 2s ease 0s 1 forwards;
}

@keyframes progressBar {
    from {
        width: 0px;
    }

    to {
        width: var(--target-width);
    }
}

.forTxt {
    margin: 30px 0px;
    max-width: 910px;
    padding: 15px 30px;
    background-color: rgb(124, 194, 255);
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px rgb(124, 194, 255, 0.8);
}

.forTxt p {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}

/* ------------------------------------About section-------------------------------- */

#aboutSection {
    height: 100vh;
    background: linear-gradient(rgb(0, 0, 0) 0%, rgb(7, 7, 82) 40%, rgb(24, 5, 88) 80%, rgb(10, 5, 54) 100%);
    padding: 5% 10%;
    text-align: center;
}

.flexContainer {
    margin: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aboutImgC {
    width: 15%;
    min-width: 150px;
}

#aboutSection img {
    max-width: 100%;
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0));
    animation: float 3s ease-in-out infinite;
    object-fit: contain;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

.aboutPara {
    box-shadow: 5px 10px 10px 2px black;
    width: 60%;
    min-width: 250px;
    height: auto;
    padding: 25px;
    text-align: justify;
}

.aboutPara:hover {
    transform: skewX(5deg);
    transition: transform 1s ease;
}


#aboutSectionC div p {
    text-shadow: 5px 5px 5px black;
    font-size: large;
    opacity: 0;
}

.visibility {
    animation: visibility 3s ease 0s 1 forwards;
}

@keyframes visibility {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#aboutSection h2 {
    text-align: center;
    font-size: 30px;
    color: rgb(124, 194, 255);
}

.resumeBtn {
    color: black;
    margin: 30px 40px;
    padding: 10px 15px;
    background-color: rgb(124, 194, 255);
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px rgb(124, 194, 255, 0.6);
    font-weight: 600;
    animation: highlighter 2s ease-in-out infinite;
}

@keyframes highlighter {
    0% {
        box-shadow: 0px 0px 10px 0px rgba(77, 167, 246, 0.6);
    }

    50% {
        box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.6);
    }

    100% {
        box-shadow: 0px 0px 10px 0px rgba(77, 167, 246, 0.6);
    }
}

.resumeBtn:hover {
    background-color: rgb(229, 238, 246);
    transform: scale(1.1);
    cursor: pointer;
}

.lineBreak {
    height: 3px;
    background-color: rgb(45, 155, 251);
    margin: 30px 80px 0px 80px;
}

/* ----------------Projects Section ---------------------- */

#projectsSection {
    background-image: linear-gradient(to bottom, rgb(10, 5, 54), rgb(124, 194, 255));
    height: 100vh;
}

#projectsSection h2 {
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    color: rgb(124, 194, 255);
}

.projectsC {
    display: flex;
    place-items: center;
    margin: 30px 150px;
    padding: 20px 0px;
    box-shadow: inset 0px 0px 10px 1px black;
    overflow: hidden;
}

.forScroll {
    display: flex;
    width: max-content;
    animation: scroll-left 30s linear infinite;
}

@keyframes scroll-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.project {
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px black;
    padding: 10px;
    margin: 10px;
    margin-right: 40px;
    text-align: center;
}

.project div {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.project img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.project p {
    font-size: small;
    padding: 12px 5px;
    color: white;
}

.projectNumbers {
    margin: 20px 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.projectNumbers div {
    background-color: transparent;
    box-shadow: 0px 0px 10px 2px blue;
    width: 190px;
    height: 190px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.projectNumbers div:hover {
    box-shadow: 0px 0px 15px 4px blue;
}

.projectNumbers div p {
    color: rgb(1, 1, 126);
    margin-top: 10px;
    font-weight: 600;
}

.projectNumbers div h1 {
    color: rgb(0, 0, 164);
    font-size: 50px;
}

/* ----------------------------Contact section---------------------------- */

#contactSection {
    height: 100vh;
    background-color: rgb(19, 17, 17);
}

#contactSection h2 {
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    color: rgb(124, 194, 255);
}

.forCenter {
    display: flex;
    justify-content: center;
}

.contactC {
    width: 80vw;
    height: 70vh;
    background-color: rgb(124, 194, 255);
    box-shadow: inset 0px 0px 10px 15px rgb(19, 17, 17);
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.inputMoreWidth {
    width: 450px;
    height: 70px;
}

.leftContact {
    min-height: 200px;
    min-width: 280px;
    background-color: rgb(19, 17, 17);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
}

.leftContact div {
    width: 240px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(124, 194, 255);
    margin: 10px;
    display: flex;
    align-items: center;
}

.leftContact div img {
    object-fit: cover;
    width: 25px;
    margin-left: 10px;
}

.leftContact div p {
    font-weight: 500;
    padding: 0px 15px;
    color: black;
    font-size: small;
}

.leftSlide {
    animation: leftSlide 2s ease 1;
}

.rightSlide {
    animation: rightSlide 2s ease 1;
}

@keyframes leftSlide {
    from {
        transform: translateX(-200px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes rightSlide {
    from {
        transform: translateX(200px);
    }

    to {
        transform: translateX(0px);
    }
}

.middleLine {
    width: 3px;
    height: 40vh;
    background-color: rgb(10, 5, 54);
    margin: 0px 80px;
    border-radius: 5px;
}

.contactC input {
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 0px 10px 1px rgb(19, 17, 17);
    margin: 5px 0px 10px 10px;
    color: black;
}

.contactC label {
    color: rgb(19, 17, 17);
    padding-left: 10px;
}

.sendBtn {
    color: black;
    margin-left: 10px;
    margin-top: 5px;
    padding: 5px 20px;
    background-color: rgb(123, 176, 222);
    border: none;
    border-radius: 20px;
    font-weight: 600;
    animation: highlighterDark 2s ease-in-out infinite;
}

.sendBtn:hover {
    background-color: rgb(232, 240, 247);
    transform: scale(1.1);
    cursor: pointer;
}

@keyframes highlighterDark {
    0% {
        box-shadow: 0px 0px 10px 1px rgba(11, 59, 102, 0.6);
    }

    50% {
        box-shadow: 0px 0px 10px 2px rgb(19, 17, 17);
    }

    100% {
        box-shadow: 0px 0px 10px 1px rgba(11, 59, 102, 0.6);
    }
}

.footer {
    text-align: center;
    margin-top: 80px;
}

/* --------------------------- Responsive ------------------------ */

@media (min-width: 480px) and (max-width: 768px) {
    .homeBox {
        transform: scale(0.7);
        padding: 5% 10%;
    }
}

@media (max-width: 480px) {

    /* ----------------- nav --------------- */

    #mobileMenuBtn {
        display: block;
        background-color: transparent;
        border: none;
        font-size: 25px;
        animation: rightSlide 2s ease 1;
    }

    #nav {
        justify-content: space-between;
        padding: 0px 20px;
        position: fixed;
        z-index: 1000;
    }

    #innerNav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 25px;
        right: 50px;
        background-color: rgb(1, 1, 99);
        border-radius: 15px 0px 15px 15px;
        z-index: 1;
        box-shadow: -5px 5px 10px 2px rgba(168, 164, 164, 0.5);
        animation: none;
    }

    #innerNavUl.menuActive {
        display: flex;
    }

    #innerNav ul li {
        margin: 0px;
    }

    #innerNav ul li a:hover {
        color: rgb(61, 161, 255);
    }

    #innerNav ul li:hover {
        transform: scale(1.1);
    }

    /* --------------- home ----------------- */

    #LHstyleBar {
        top: 12%;
    }

    #LVstyleBar {
        top: 12%;
    }

    .homeBox {
        flex-direction: column;
        padding: 100px 0px;
    }

    .larger {
        font-size: 30px;
        text-align: center;
    }

    #element {
        font-size: 30px;
    }

    #home {
        height: 100%;
        text-align: center;
    }

    .sideImg img {
        right: 100px;
        top: 320px;
    }

    #RHstyleBar {
        top: 110%;
        right: 10%;
    }

    #RVstyleBar {
        position: absolute;
        bottom: -10%;
        right: 10%;
    }

    /* --------------------- skills ---------------------- */

    #skillsSection h2 {
        padding: 20px 0px 0px 0px;
    }

    .skillbox {
        margin: 0px 10px;
        transform: scale(0.95);
    }

    /* ---------------------- about -------------------- */

    #aboutSection {
        padding: 0px;
        text-align: center;
        height: auto;
    }

    .flexContainer {
        margin: 20px;
        flex-direction: column;
    }

    #aboutSection h2 {
        margin: 20px;
    }

    #aboutSection img {
        height: 220px;
    }

    .aboutPara {
        width: 100%;
    }

    .resumeBtn {
        margin: 20px 20px 30px 20px;
    }

    .lineBreak {
        width: calc(100% - 100px);
        height: 3px;
        background-color: rgb(45, 155, 251);
        margin: 0px 50px 0px 50px;
    }

    /* ---------------------------- project Section ------------------------- */

    #projectsSection {
        height: 100%;
    }

    .projectsC {
        margin: 50px 30px;
        padding: 20px 0px;
        box-shadow: inset 0px 0px 10px 1px black;
        overflow: hidden;
    }

    .projectNumbers {
        margin: 10px 30px;
        flex-direction: column;
    }

    .projectNumbers div {
        width: 100%;
        height: 100px;
        display: flex;
        text-align: center;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        margin: 20px;
    }

    .projectNumbers div p {
        margin: 10px;
        font-size: 15px;
    }

    /* ----------------- contact ------------- */

    #contactSection {
        height: 100%;
    }

    .contactC {
        width: 90vw;
        height: 100%;
        flex-direction: column;
    }

    .leftContact {
        transform: scale(0.9);
    }

    .middleLine {
        display: none;
    }

    form {
        margin: 20px 0px 0px 0px;
    }

    .inputMoreWidth {
        width: 250px;
        height: 100px;
    }

    .footer {
        margin-top: 120px;
    }
}

